  * {
    box-sizing: border-box;
  }
  body{
      margin: 0;
      padding: 0;
 }
  
  h1 {
    margin-bottom: 15px;
    text-align: center;
    color: black;
    font-size: 50px;
  }
  .box{
    width: 100%;
  }
  .cname{
    text-align: center;
    border: 5px solid black;
    width: 100px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-right: 55px;
    margin-top: 5px;
    font-weight: bold;
  }
  .content{
    text-align: left;
    border: 10px solid black;
    width: 90%;
    height: auto;
    margin: 2.5%;
    color: black
  }
  .chicken{
    background-color: plum;
  }
  .Beef{
    color: white;
    background-color: maroon;
  }
  .Sushi{
    background-color: yellow;
  }

  /*large*/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  /*med*/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-1 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-1 {
      width: 100%;
      margin: auto;
      
    }
  }
  